.header-wrapper{
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 0px 18px;
    top:15px;
    left: 0px;
    box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    z-index: 1;
}

@keyframes spin{
    0% {
        transform: none;
    }
    50%{
        transform: rotateY(1turn);
    }
    100% {
        transform: none;
    }
}

.message__avatar{
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    animation: spin 3s infinite linear;
}


.chat__messages{
    width: 100%;
    padding-top: 130px;
    min-height: 1000px;
    background-image: url(../images/3.png);
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.chat__timestamp{
    color: black;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 30px;
    box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.521), 0 -12px 36px -8px rgba(0, 0, 0, 0.349);
    transform: translateY(40px);
    animation: show 0.5s ease-in-out forwards;
}

.incoming-message{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.message__content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.message__bubble{
    border-radius: 20px;
    padding: 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    font-weight: 700;
}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0px;
    background-image: linear-gradient(to right, rgb(252, 162, 162) 0%, rgb(112, 112, 255) 100%);
}

.sent-message{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.sent-message .message__bubble{
    border-bottom-right-radius: 0px;
    background-color: blanchedalmond;
}
.message__author{
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;
}
.chat__write--container{
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat__write{
    width: 100%;
    height: 100%;
    padding:20px 40px;
    border: none;
    border-top: 1px solid #f7f7f7;
    margin: 0 auto;
    outline: none;
    display: flex;
    background-color: #d3d3d3;
    transition: all 0.5s ease-in-out;
}

.chat__write::placeholder{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.chat__write:focus{
    transform: translateY(-100px);
    border-radius: 40px;
    width: 70%;
    animation: float 1s linear infinite;
}

@keyframes float{
    0%{
        box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.521);
    }

    50%{
        box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.685);
    }

    100%{
        box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.521);
    }
}
.chat__write:focus~.chat__icon{
    opacity: 0%;
}
.chat__icon{
    color: black;
    transition: opacity 0.5s ease-in-out;
}
.chat__icon-left {
    position: absolute;
    left: 10px;
  }
  
  .chat__icon-right {
    position: absolute;
    right: 10px;
  }

  @keyframes showIncomingMessage{
    from {
        transform: translateX(-40px) translateY(40px);
        opacity: 0%;
    }
    to {
        transform: none;
        opacity: 100%;
      }
  }

.incoming-message{
    transform: translateX(-40px) translateY(40px);
    animation: showIncomingMessage 0.5s ease-in-out forwards;
}

@keyframes showSentMessage{
    from {
        transform: translateX(40px) translateY(40px);
        opacity: 0%;
    }
    to {
        transform: none;
        opacity: 100%;
      }
  }

.sent-message{
    transform: translateX(40px) translateY(40px);
    animation: showSentMessage 0.5s ease-in-out forwards;
}