nav{
    width: 100%;
    background-color: #fcfcfc;
    padding: 20px 50px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #f7f7f7;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list-item{
    position: static;
}

.nav__list-item .nav__badge{
    position: relative;
    top: 7px;
    left:7px;
}

@keyframes showNav{
    from {
        transform: translateY(50px);
    }
    to {
        transform: none;
      }
}

.nav{
    transform: translateY(50px);
    animation: showNav 1s ease-in-out forwards;
    animation-delay: 0.1s;
}