body,html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
  
}

.box-red{
  top: 0px;
  height: 150px;
  width: 100%;
  background-color: rgb(255,121,121);
  position: fixed
}

.box-blue{
  margin-top: 150px;
  height: 1350px;
  width: 100%;
  background-color: rgb(126,214,223);
  border: 0px;
  display: inline-block;
  position: relative;
}

.box-yellow{
  height: 1320px;
  width: 25%;
  background-color: rgb(255, 204, 0);
  display: inline-block;
  position: absolute;
  right:0px;
  border: 15px;
  border-color: grey;
  border-style: solid;
}

.box-green{
  height: 130px;
  width: 18%;
  background-color: rgb(186,220,88);
  position: fixed;
  top: 90px;
  right: 17%;
}
.text{
  color: white;
  font-size: 140px;
  font-weight: bold;
  display: inline-block;
  margin:50px;
}

